{% extends 'app/base.html' %}
{% load static %}
{% block change_account %}
<style>
  .call_change {
        display: inline-block;
        justify-content: center;
        border: 2px solid red;
        padding: 10px 20px;
        color: red;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s ease, color 0.3s ease;
        background-color:white;
        overflow: hidden;
        white-space: nowrap;
        top:-60px;
        font-size: 20px; /* Đổi giá trị font-size tại đây */
        font-weight: bold;
    }
    .call_change:hover {
        background-color: red;
        color: white;
        }
        </style>
<h1 style="text-align: center;">Thay Đổi Thông Tin </h1>
<form method="post" action="{% url 'change_account' %}" class="my-form">
    {% csrf_token %}
    <style>
    .form-outline input {
        width: 250px;
    }
</style>
      <div class="d-flex flex-row align-items-center mb-4">
    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
    <label class="form-label" for="form3Example1c" style="white-space: nowrap;">Tài khoản</label>
    <div class="form-outline flex-fill mb-0" style="margin-left: 30px;">
        {{ form.username }}
        {% if form.username.errors %}
            <span class="text-danger">{{ form.username.errors|join:", " }}</span>
        {% endif %}
    </div>
</div>


       <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                      <label class="form-label" for="form3Example3c" style="white-space: nowrap;"> Email</label>
                    <div class="form-outline flex-fill mb-0" style="margin-left: 54px;">
                        {{ form.email }}
                {% if form.email.errors %}
                    <span class="text-danger">{{ form.email.errors|join:", " }}</span>
                {% endif %}
                    </div>
                  </div>


       <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                      <label class="form-label" for="form3Example4c" style="white-space: nowrap;">Mật khẩu mới</label>
                    <div class="form-outline flex-fill mb-0" style="margin-left: 30px;">
                        {{ form.password }}
                {% if form.password.errors %}
                    <span class="text-danger">{{ form.password.errors|join:", " }}</span>
                {% endif %}
                    </div>
                  </div>


       <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                      <label class="form-label" for="form3Example4c" style="white-space: nowrap;">Xác nhận lại mật khẩu</label>
                    <div class="form-outline flex-fill mb-0" style="margin-left: 30px;">
                        {{ form.password_confirmation }}
                {% if form.password_confirmation.errors %}
                    <span class="text-danger">{{ form.password_confirmation.errors|join:", " }}</span>
                {% endif %}
                    </div>
                  </div>
    <button type="submit" class="call_change">&#x2190; Đổi mật khẩu</button>
</form>



{% endblock change_account %}
