{% extends 'app/base.html' %}
{% load static %}

        {% block hotline %}
<style>
    .marquee {
        overflow: hidden;
        white-space: nowrap;
        top:-60px;
        font-size: 20px; /* Đổi giá trị font-size tại đây */
        font-weight: bold;
    }
    .call-btn {
        display: inline-block;
        justify-content: center;
        border: 2px solid red;
        padding: 10px 20px;
        color: red;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s ease, color 0.3s ease;
        background-color:white;
    }
    .call-btn:hover {
        background-color: red;
        color: white;
    }
</style>
    <div class="marquee">
        <h1>THÔNG TIN CỬA HÀNG</h1>
    <p style="margin-left: 20px;">Tên cửa hàng: Pê Hát Ét</p>
    <p style="margin-left: 20px;">Hotline hỗ trợ: 036-545-4643</p>
    <p style="margin-left: 20px;">Giờ làm việc: Thứ 2 - Thứ 6, 8:00 AM - 5:00 PM</p>
    <p style="margin-left: 20px;">Địa chỉ: 8 ngõ 7, Nguyên Xá, Minh Khai, Hà Nội</p>
        <h1>BẢN ĐỒ</h1>

    </div>
        <a href="tel:0365454643" class="call-btn">&#x2190; Gọi ngay</a>
        {% endblock hotline %}


