{% extends 'app/base.html' %}
{% load static %}

        {% block hotline %}
<style>
    .marquee {
        overflow: hidden;
        white-space: nowrap;
        top:-60px;
    }

    .marquee-text {
        display: inline-block;
        font-size: 20px; /* Đổi giá trị font-size tại đây */
        font-weight: bold;
        animation: marquee 20s linear infinite; /* Điều chỉnh thời gian và animation theo ý muốn */
    }

    @keyframes marquee {
        0% {
            transform: translateX(100%); /* Bắt đầu từ phải cùng */
        }
        100% {
            transform: translateX(-100%); /* Kết thúc ở bên trái */
        }
    }

    .call-btn {
        display: inline-block;
        justify-content: center;
        border: 2px solid red;
        padding: 10px 20px;
        color: red;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s ease, color 0.3s ease;
        background-color:white;
    }
    .call-btn:hover {
        background-color: red;
        color: white;
    }
</style>
    <div class="marquee">
    <p class="marquee-text">Hotline hỗ trợ: 036-545-4643(Phí Hồng Sơn) - Giờ làm việc: Thứ 2 - Thứ 6, 8:00 AM - 5:00 PM</p>
    </div>
        <a href="tel:0365454643" class="call-btn">&#x2190; Gọi ngay</a>
        {% endblock hotline %}


